/* Custom Font Faces */
@font-face {
    font-family: 'GoogleSansFlex';
    src: url('./font/GoogleSansFlex-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FluentEmoji';
    src: url('./font/FluentEmoji.ttf') format('truetype');
}

/* General Body Styles */
body {
    font-family: 'GoogleSansFlex', 'FluentEmoji', sans-serif;
    padding: 1.5em;
    background-color: #FAF8FF;
    color: #1B1B1B;
    line-height: 1.6;
    max-width: 800px;
    margin: auto;
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 120px;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0;
}

h1 {
    font-size: 1.9em;
    color: #076BFC;
    margin-right: 10px;
    margin-bottom: 0;
    font-family: 'GoogleSansFlex', 'FluentEmoji', sans-serif;
    font-weight: 900;
}

/* Experimental Label Styling */
.experimental {
    font-size: 0.5em;
    color: #000;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0.5px solid rgba(169, 169, 169, 0.4);
    padding: 0.3em 0.6em;
    border-radius: 50px;
    vertical-align: middle;
    margin-left: 10px;
    font-family: 'GoogleSansFlex', sans-serif;
    font-weight: 400;
}

/* Section Headings */
h2 {
    font-size: 1.5em;
    color: #076BFC;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

/* Paragraph Styles */
p {
    font-size: 1em;
    color: #001e2e;
    margin-bottom: 1.2em;
    font-family: 'GoogleSansFlex', 'FluentEmoji', sans-serif;
    font-weight: 400;
}

span {
    color: #001e2e;
    font-family: 'GoogleSansFlex', 'FluentEmoji', sans-serif;
    font-weight: 500;
}

/* Author Info Section */
.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 0.9em;
    margin-top: 0.4em;
}

.author-info img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-right: 5px;
}

.author-info, .author-info a {
    color: #557e6d;
    text-decoration: none;
    font-weight: 500;
}

.author-info a:hover {
    text-decoration: none;
}

/* Post Meta Information */
.post-meta {
    font-size: 0.9em;
    color: #555;
    margin-top: 0.2em;
}

/* Quote Card Styling */
.quote-card {
    padding: 1em;
    border-radius: 8px;
    margin: 1em 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.quote-card h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.quote-card p {
    margin-top: 0.5em;
    font-size: 1em;
}

/* Different Quote Types */
.quote-important {
    background-color: #9c27b0;
    color: #fff;
}

.quote-note {
    background-color: #2196f3;
    color: #fff;
}

.quote-tip {
    background-color: #4caf50;
    color: #fff;
}

.quote-warning {
    background-color: #ff9800;
    color: #fff;
}

.quote-default {
    background-color: #e0e0e0;
    color: #333;
}

/* Code Block Styles */
.code-block {
    background-color: #e9eff6;
    border: 0.5px solid rgba(169, 169, 169, 0.4);
    border-radius: 25px;
    padding: 0 17px;
    font-family: 'Courier New', monospace;
    position: relative;
}

.code-block code {
    margin-right: 0px;
}

/* Copy Button Styles */
.copy-button {
    position: absolute;
    top: 10px;
    right: 11px;
    text-decoration: none;
    outline: none;
    background-color: #181c20;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 999px;
    cursor: pointer;
    font-family: 'GoogleSansFlex', sans-serif;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
}

/* Image and Description Styling */
.content img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.image-description {
    display: block;
    text-align: center;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0.5em;
}

/* Toolbar Styles */
.toolbar {
    position: fixed;
    bottom: 20px;
    left: 80px;
    right: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0.5px solid rgba(191, 191, 191, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px) saturate(550%) brightness(100%);
    padding: 20px 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between; /* Alinha o conteúdo à esquerda e à direita */
    align-items: center;
    z-index: 10;
    transition: background-color 0.4s, box-shadow 0.5s, border 0.4s;
}

.toolbar h1 {
    margin: 0;
    font-size: 1.2em;
    color: #151616;
    opacity: 0.8;
    flex-grow: 1;
}

.toolbar .icons {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os ícones */
}

.toolbar .summary-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.4s;
    border-radius: 0px;
    -webkit-tap-highlight-color: transparent;
    filter: invert(1) brightness(0) saturate(200%);
}


img {
    border-radius: 15px;
}

/* Fade-in Animations */
.fade-in {
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Summary Container Styles */
.summary-container {
    background-color: #e9eff6;
    border: 0.5px solid rgba(169, 169, 169, 0.4);
    border-radius: 25px;
    padding: 20px 20px;
    font-family: 'GoogleSansFlex', 'FluentEmoji', sans-serif;
    font-weight: 500;
    position: relative;
    box-shadow: 0px 0px 25px rgba(75, 158, 255, 0.5);
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.summary-container h4 {
    display: flex;
    align-items: left;
    font-size: 1.2em;
    border-radius: 0px;
    flex-direction: column;
    margin-top: 0px;
    filter: invert(1) brightness(0) saturate(200%);
}

.summary-container h4 img {
    width: 20px;
    margin-right: 10px;
    border-radius: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.summary-container .auto-note {
    font-size: 0.5em;
    color: #000000;
    margin-top: 10px;
    font-style: 500;
    opacity: 0.5;
}

/* Dark Mode Customization */
@media (prefers-color-scheme: dark) {
    .toolbar {
        background-color: rgba(255, 255, 255, 0.1);
        border: 0.5px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(25px) saturate(250%) brightness(250%);
    }

    body {
        background-color: #090A0E;
        color: #E2E2E2;
    }

    .toolbar h1 {
        color: #FFFFFF;
        opacity: 0.8;
    }

    .experimental {
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.3);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
    }

        .image-description {
        color: rgba(255, 255, 255, 0.5);
    }

    span {
        color: #dae0e6;
    }

    .author-info, .author-info a, h1, h2 {
        color: #0065F0;
    }

    p {
        color: #dae0e6;
    }

    .summary-container {
        background-color: #111212;
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 0px 25px rgba(118, 181, 255, 0.5);
    }

    .summary-container h4 {
        filter: invert(0) brightness(100%) saturate(200%);
    }

    .summary-container .auto-note {
        color: #ffffff;
    }

    .toolbar .summary-icon {
        filter: invert(0) brightness(100%) saturate(200%);
    }

    .toolbar .summary-icon:hover {
        filter: invert(0) brightness(100%) saturate(200%);
    }

    .code-block {
        background-color: #111212;
        border: 0.5px solid rgba(255, 255, 255, 0.3);
    }

    .copy-button {
        background-color: #dae0e6;
        box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
        color: black;
    }
}

/* Styles for Post Content Articles with Delayed Fade-In */
.post-content > article {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.post-content > article:nth-child(1) {
    animation-delay: 0.5s;
}

.post-content > article:nth-child(2) {
    animation-delay: 1s;
}

.post-content > article:nth-child(3) {
    animation-delay: 1.5s;
}
